.card {
  background-color: $white;
  border: 1px solid $dark-gray;
  border-radius: 10px;
  padding: 4rem 2rem;
  width: 100%;
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.card.card__inner {
  padding: 3rem 2rem;
  .remaining {
    display: flex;
    align-items: center;
    margin: 30px 0;
    .stat-large {
      padding-right: 10px;
    }
  }
}

.hero-card {
  position: relative;
  bottom: 60px;
  text-align: center;
  .logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
  }
}
