header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 80vh;
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 30px;
  }
}
