html {
  font-family: $commissioner;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
}

p {
  color: $dark-gray;
  line-height: 3rem;
}

.logo,
nav a {
  color: white;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: lowercase;
}