@import './setup';
@import './variables';
@import './typography';
@import './buttons';

@import './main';
@import './header';
@import './navigation';
@import './card';
@import './status-section';
@import './backing';


ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 100;

  background-color: rgba(0,0,0,0.6);
}

.overlay-above {
  z-index: 200;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}