@import './setup';
@import './variables';
@import './typography';
@import './buttons';

@import './main';
@import './header';
@import './card';
@import './_status-section';


ul {
  list-style-type: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}